body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #E5F9DB;
}

.container {
    background-color: #9ED2BE;
    max-width: 600px;
    padding: 30px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

button{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
}

.form-label{
    color: #3A4D39;
    font-size: 1.3rem;
}

h1{
    color: #3A4D39;
}
.link{
    font-style: italic;
    text-align: center;
    width: 100%;
}

a{
    color: #3A4D39;
}
